th, td {
    text-align: left;
    margin: 0 2ex;
    color: red;
}

h1 {
    border-bottom: 1px solid black;
}

p.important {
   color: red;
   background-color: yellow;
   border: 2px solid red;
   margin: 0.5ex;
   padding: 0.5ex;
   text-align: center;
   position: center;
   width: 75%;
}
