!!! 5

%html
	%head
		%title RottenPotates!
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags

	%body
		#main
		/ - if flash[:notice]
		/ #notice.message= flash[:notice]
		/ - elsif flash[:warning]
		/ #warning.message= flash[:warning]
		= yield