<h1>All Students</h1>
<table id="students-table">
  <thead>
    <tr>
      <th>ID num</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td>
          <%= student.sid_number %>
        </td>
        <td>
          <%= student.first_name %>
        </td>
        <td>
          <%= student.last_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
