<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/default.css" type="text/css">
    <title>Sinatra demo app</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
