<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/main.css"/>
  </head>
  <body>

    <h1>Downloadable Courseware Files</h1>

    <p class="important">
    NOTE: This site hosts files for many courses!  Please consult your
    course's materials to determine which file(s) you need!  Thanks to
    Maggie Johnson at Google for underwriting the cost of 
    distributing these large files.
    </p>
    {% if admin %}
    <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
      <p>
        Upload New File:  
        <input type="file" name="file">
        <input type="submit" name="submit" value="Upload"> 
      </p>
    </form>
    {% endif %}

    <table>
      <thead>
        <th>File</th>
        <th>Size (bytes)</th>
        <th>Upload date (UTC)</th>
      </thead>
      <tbody>
        {% for blob in blobs %}
        <tr>
          <td><a href="/files/{{ blob.key }}">{{ blob.filename }}</a></td>
          <td>{{ blob.size }}</td>
          <td>{{ blob.creation.ctime }}</td>
          {% if admin %}
          <td>
            <form method="post" action="/admin/delete/{{ blob.key }}">
              <input type="submit" name="delete" value="Delete"/>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
